body{
    background-color: beige;
}
h1{
    font-size: 30px;
    color: #257186;
}

h2{
    color: darkblue;
    font-size: 20px;
}

.big{
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    color:darkolivegreen;
}

h1 span{
    color: darkred;
}